div {
    text-align: center;
}

img {
    cursor: pointer;
    width: 100px;
    transition: transform 0.2s ease; /* Animation effect */

    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(0.95); /* Slightly scale down when clicked */
        cursor: grab; /* Optional: change cursor on click */
    }

    &.disabled {
        pointer-events: none;
    }
}