@import './assets/styles/range-input.scss';

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    //font-family: 'Roboto', sans-serif;
    background: radial-gradient(circle at bottom left, rgba(0, 255, 255, 0.5), rgba(240, 255, 255, 0.8), white);
    min-height: 100vh;
    overflow: auto;
  }

  
.button-primary {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 45px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-primary {
    padding: 19px 45px;
  }
}

.button-primary:before,
.button-primary:after {
  border-radius: 80px;
}

.button-primary:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-primary:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
  &[disabled] {
    content: "";
    animation: dotAnimation 1.5s infinite;
    display: inline-block; // Make sure this is inline-block or block
    margin-left: 5px; // Spacing after the button text
  }
}

.button-primary:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-primary:active:not(:disabled) {
  color: #ccc;
}

.button-primary:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-primary.disabled {
  cursor: default;
  opacity: .24;
  pointer-events: none; // Prevent clicks
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;

  &.material-symbols-outlined {
      font-size: 24px; // Adjust size if necessary
  }

  &:hover .material-symbols-outlined {
      color: hsl(10, 95%, 53%); // Bright orange
  }

  &:active {
      transform: scale(0.85); // Slight scale down when button is clicked
  }

  &:focus {
      outline: none;
  }
}

.icon-button.large-icon .material-symbols-outlined {
    font-size: 36px;
}

.screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Changed from height to min-height */
  position: relative;
  overflow: auto; /* Allows for scrolling when content overflows */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the items horizontally */
  position: relative;
  /* The positioning context for absolute positioning */
  width: 100%;
  /* Ensure the header spans the full width */
  margin-bottom: 30px;
  /* Add some space below the header */
}

.back-button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  /* Adjust size as needed */
  color: #FFA500;
  /* Bright orange color */
  cursor: pointer;
  transition: transform 0.2s;
  /* Smooth effect on click */
}

.back-button:active {
  transform: scale(0.9);
  /* Button will slightly shrink when clicked */
  position: absolute;
  /* Position the back button absolutely to control its position */
  left: 20px;
  /* Move the button 20px from the left edge of the header */
  top: 50%;
  /* Align it vertically in the center */
  transform: translateY(-50%);
  /* Offset by half its height for perfect vertical centering */
}

.playful-title {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(35deg,
      hsl(21, 100%, 57%),
      hsl(10, 95%, 53%));
}

.loading-bar {
  width: 18rem;
  height: 4px; /* Adjust height as needed */
  background: linear-gradient(to right, hsl(24, 96%, 80%) 50%, hsl(24, 100%, 55%) 50%);
  background-size: 200% 100%;
  animation: shift 1s linear infinite;
}

@keyframes shift {
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

.form-group {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  width: 80%;
  /* Make sure the form groups take full width */
  box-sizing: border-box;
  /* This ensures padding is included in width */
}

.form-group label,
.form-group input,
.form-group select,
.form-group textarea {
  margin: 0 auto;
  display: block;
  /* Make these elements block level so they stack */
  width: 100%;
  /* Full width for stacking */
  margin-bottom: 10px;
  /* Add some margin at the bottom */
}

.form-group input[type="text"],
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  /* Basic border styling */
  border-radius: 4px;
  /* Rounded corners */
}

.form-group .button-primary {
  display: block;
  /* Make the button a block-level element */
  margin: 0 auto;
  /* Center the button within the form-group */
  /* Add other styling as necessary, but it seems you want to keep the button's original styles */
}

.work-slider input[type="range"] {
  width: 80%;
}

.vegetables-img {  
  width: 2.5rem;
  display: inline-flex;
  position: relative;
  vertical-align: bottom;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 20rem;
}

.group {
  display: flex;
  align-items: center; /* This aligns children vertically in the middle */
}
.group-title {
  margin-left: 1rem;;
}

.invalid-select {
  border: 1px solid red;
}







