.context-menu {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 10;
  
    // Target the button within context-menu
    
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 8px;
        padding: 5px 0;
        position: absolute;
        right: 0;
        top: 100%;  // To position it right below the button
        z-index: 11;  // To ensure it's on top
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s ease-in-out;
        width: 200px; 
        &.open {
            transform: scaleY(1);
        }
    }
  
    a {
        text-decoration: none;
        color: #555;
        padding: 10px 20px;
        display: block;
        transition: background-color 0.2s, color 0.2s;
  
        &:hover {
            background-color: #f5f5f5;
            color: #333;
        }
    }
  }