.context-menu {
    position: fixed; /* Changed from absolute to fixed for viewport positioning */
    bottom: 2%; /* Position it from the bottom instead of the top */
    right: 2%;
    z-index: 10;

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 8px;
        padding: 5px 0;
        position: absolute;
        right: 0;
        bottom: 100%;  /* Position it above the button */
        z-index: 11;
        box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.08); /* Adjust the shadow direction */
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.1s ease-in-out, max-height 0.1s ease-in-out; /* Quicker transition and include max-height */
        max-height: 0; /* Initially no height */
        overflow: hidden;
        width: 200px;
        &.open {
            transform: scaleY(1);
            max-height: 500px; /* Set to the natural height of the content */
        }
    }

    a {
        text-decoration: none;
        color: #555;
        padding: 10px 20px;
        display: block;
        transition: background-color 0.2s, color 0.2s;
        cursor: pointer;

        &:hover {
            background-color: #f5f5f5;
            color: #333;
        }
    }
}

