@import '../../assets/styles/overview';

.meal-options-container {
  position: relative;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
}

h1 {
  margin: 0;
}



