<div class="screen-container">
    <div class="header">
        <button (click)="goBack()" class="icon-button large-icon">
            <span class="material-symbols-outlined">
                arrow_back_ios
            </span>
        </button>
        <h1 class="playful-title">Maaltijdopties</h1>
    </div>
    <ul class="meal-list">
      <li *ngFor="let mealOption of mealOptions">
        {{ mealOption.description }}
      </li>
    </ul>
    <div class="pagination">
      <span>first</span>
      <span>1,2,3..</span>
      <span>last</span>
    </div>
  </div>
  