

.meal-description-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #333;
  margin-left: 3rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.meal-description-input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;

  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  resize: none;    /* Disable manual resizing */
  overflow: auto; 
}

.meal-description-input:placeholder-shown+.meal-description-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-3rem);
  transform: translateY(-3rem);
}

.form-group {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  width: 80%;
  /* Make sure the form groups take full width */
  box-sizing: border-box;
  /* This ensures padding is included in width */
}

.form-group label,
.form-group input,
.form-group select,
.form-group textarea {
  margin: 0 auto;
  display: block;
  /* Make these elements block level so they stack */
  width: 100%;
  /* Full width for stacking */
  margin-bottom: 10px;
  /* Add some margin at the bottom */
}

.form-group input[type="text"],
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  /* Basic border styling */
  border-radius: 4px;
  /* Rounded corners */
}

.form-group .button-primary {
  display: block;
  /* Make the button a block-level element */
  margin: 0 auto;
  /* Center the button within the form-group */
  /* Add other styling as necessary, but it seems you want to keep the button's original styles */
}

.work-slider input[type="range"] {
  width: 80%;
}

.vegetables-img {  
  width: 2.5rem;
  display: inline-flex;
  position: relative;
  vertical-align: bottom;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 20rem;
}

.group {
  display: flex;
  align-items: center; /* This aligns children vertically in the middle */
}
.group-title {
  margin-left: 1rem;;
}
