<div class="add-meal-container">
    <!-- Back Button & Title -->
    <div class="header">
        <button (click)="goBack()" class="icon-button large-icon">
            <span class="material-symbols-outlined">
                arrow_back_ios
            </span>
        </button>
        <h1 class="playful-title">Voeg een maaltijd toe!</h1>
    </div>

    <form [formGroup]="mealOptionForm" (ngSubmit)="saveMealOption()">

        <!-- Description Textbox -->
        <div class="form-group">
            <textarea name="Text1" formControlName="description" cols="40" rows="2"
                class="meal-description-input" id="maaltijd" placeholder="Maaltijd beschrijving" required=""></textarea>
        </div>

        <div class="form-group">
            <select placeholder="Maaltijdbasis" formControlName="mealBase" class="meal-description-input">
                <option value="" disabled selected>Maaltijdbasis</option>
                <option *ngFor="let mealBaseType of mealBases" [value]="mealBaseType.value">
                    {{mealBaseType.title}}
                </option>
            </select>
        </div>
        <!-- Amount of Work Slider -->
        <div class="form-group work-slider">
            <!-- ... placeholder slider here ... -->
            <input type="range" formControlName="amountOfWork" min="0" max="2" placeholder="Amount of work"/><!--NEED TO TRANSFORM VALUE TO AMOUNT OF WORK< OR DO clickable images-->
            <div class="rangeLabel">{{ selectedWorkAmount }}</div>
        </div>

        <!-- Healthy Rating Selector -->
        <div class="form-group">
            <!-- ... placeholder apples here ... -->
            <app-healthy-selector formControlName="healthy"/>
        </div>

        <!-- Suitable for Children Toggle -->
        <div class="form-group">
            <app-children-toggle formControlName="suitableForChildren"/>
            <!-- ... placeholder toggle here ... -->
        </div>

        <div class="form-group">
            <!-- ... placeholder seasons here ... -->
        </div>

        <!-- Vegetables -->
        <div class="form-group">
            
                <img src="./assets/images/brocoli.png" class="vegetables-img"/>
                <p-multiSelect [options]="vegetables" display="chip" formControlName="vegetables" optionLabel="name" placeholder="Kies groentes"></p-multiSelect>
            
        </div>

        <!-- meat /fish -->
        <div class="form-group">
            
            <img src="./assets/images/meatfish.png" class="vegetables-img"/>
            <!--
            <p-multiSelect [options]="meatFishes" [group]="true" display="chip" formControlName="meatFishes" optionLabel="name" placeholder="Kies vlees of vis"></p-multiSelect>
            -->

            <p-multiSelect [options]="groupedMeatFishes" [group]="true" formControlName="meatFishes" optionLabel="name" placeholder="Kies vis of vlees" scrollHeight="250px" display="chip">
                <ng-template let-group pTemplate="group">
                    <div class="flex align-items-center group">
                        <img [src]="'./assets/images/' + group.image" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
                        <span class="group-title">{{ group.label }}</span>
                    </div>
                </ng-template>
            </p-multiSelect>
        </div>

        <div class="form-group">
            <app-season-selector formControlName="seasons"></app-season-selector>
        </div>

        <!-- Primary Save Button -->
        <div class="form-group">
            <button class="button-primary" type="submit">Opslaan!</button>
        </div>

    </form>

</div>