:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 20rem;
}

:host ::ng-deep .p-dropdown {
  min-width: 15rem;
  width: 22rem;
}

:host ::ng-deep .p-calendar {
  min-width: 15rem;
  width: 22rem;
}

:host ::ng-deep .p-icon-wrapper {
  display: flex;
}

:host ::ng-deep .p-input-icon-right {
  .p-icon-wrapper{
    margin-top: -0.8rem;
  }
}