<div class="add-meal-container">
    <!-- Back Button & Title -->
    <div class="header">
        <button (click)="goBack()" class="icon-button large-icon">
            <span class="material-symbols-outlined">
                arrow_back_ios
            </span>
        </button>
        <h1 class="playful-title">Voeg een maaltijd toe!</h1>
    </div>

    <!-- Description Textbox -->
    <div >
        <textarea name="Text1" cols="40" rows="2" class="meal-description-input" id="maaltijd" placeholder="Maaltijd beschrijving" required="" ></textarea>
        <label for="maaltijd" class="meal-description-label">Maaltijd beschrijving</label> 
    </div>
    <!-- Meal Base Icons Selection -->
    <div class="meal-base-icons">
        <!-- ... placeholder icons here ... -->
    </div>

    <!-- Meat or Fish Autocomplete -->
    <input type="text" placeholder="auto complete multi select">

    <!-- Vegetables Autocomplete -->
    <input type="text" placeholder="auto complete multi select">

    <!-- Amount of Work Slider -->
    <div class="work-slider">
        <!-- ... placeholder slider here ... -->
        <span>Amount of work: [Value]</span>
    </div>

    <!-- Healthy Rating Selector -->
    <div class="healthy-rating">
        <!-- ... placeholder apples here ... -->
        <span>Healthy: [Value]</span>
    </div>

    <!-- Suitable for Children Toggle -->
    <div class="children-toggle">
        <!-- ... placeholder toggle here ... -->
    </div>

    <!-- Seasons Selection -->
    <div class="seasons-selection">
        <!-- ... placeholder seasons here ... -->
    </div>

    <!-- Variations Button -->
    <div class="">
        <button>Button: variations</button>
    </div>

    <!-- Primary Save Button -->
    <div class="">
        <button class="button-primary">Primary Button: Save</button>
    </div>

</div>
