.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // This ensures the container takes up the full viewport height
  position: relative; // To make sure the absolute positioning of child elements is relative to this container
}

.logo-container {
  height: 40vh; // half the viewport height
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; // in case the image is too big
  margin-bottom: 10px; // Added this to create space between the logo and the buttons

  img {
    max-height: 80%;
    width: auto;
  }
}

.logo {
  display: block;
  margin: 20px auto;
  max-width: 95%;
  height: auto;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px; // Adjust the value for spacing between the buttons
}

.spacer {
  flex: 1 1 auto;
}




