.spacer {
    flex: 1 1 auto;
  }
  
  .main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px); // Assuming toolbar height is 64px
  
    button {
      margin: 20px 0;
      width: 80%;
      max-width: 300px;
    }
  }
  