@import '../../assets/styles/overview';
.meal-date-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .meal-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; // Card background color
    border-radius: 8px; // Rounded corners for the card
    
    padding: 10px 15px; // Padding inside the card
    transition: transform 0.2s ease, box-shadow 0.2s ease; // Transition for hover and click effects
    
    margin: 15px 0; // This adds 10px of space above and below each tile
    
    &:hover {
      box-shadow: 0 4px 8px hsl(13, 5%, 33%); // Enhanced shadow on hover
        cursor: pointer; // Change cursor to indicate it's clickable
    }

    &.past-day {
      opacity: 0.5;
      // Add more styling for past days
    }

    .meal-date {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border-radius: 8px; // Rounded corners for the card

        width: 80px; // Allocate 25% of the width to the date section
        background-color: #f0f0f0; // Background color for the date section
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-right: 2px solid #ccd; // Right border to separate the date from the description

        .day-name,
        .day-number,
        .month {
            display: block;
            text-align: center;
        }

        .day-name {
            font-size: 1em; // Size for the day abbreviation
            font-weight: bold;
            color: hsl(21, 100%, 57%); // Example color for day name
        }

        .day-number {
            font-size: 2.5em; // Larger size for the day of the month
            font-weight: bold;
            color: hsl(21, 100%, 57%); // Example color for day number
        }

        .month {
            font-size: 1em; // Size for the month abbreviation
            font-weight: bold;
            color: hsl(21, 100%, 57%); // Example color for month
        }
    }

    .meal-date-content {
      flex-grow: 1;
      padding-left: 20px; // Adjust spacing as needed
    }
  }

  .additional-content {
    background-color: #f9f9f9; // Light background color
    border-top: 1px solid #eee; // Separator from the main content
    transition: all 0.3s ease-in-out;
    padding: 15px; // Internal padding
    display: flex;
    justify-content: space-between; // Space out the label and button container
    align-items: center;
  
    .meat-fishes-names {
      flex-grow: 1; // Allows the text to take up available space
      margin-right: 20px; // Space between the text and buttons
      // Additional text styling
      font-size: 1em;
      color: #333;
    }
  
    .button-container {
      display: flex;
      gap: 10px; // Space between buttons
  
      .panel-button {
        flex: 1; // Each button takes equal space
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s, box-shadow 0.2s;
  
        &:hover {
          background-color: #e0e0e0; // Light hover effect
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        }
  
        img {
          width: 50px; // Adjust as needed
          height: 50px; // Adjust as needed
          margin-right: 5px;
        }
      }
  
      .edit-button {
        background-color: #f0f0f0; // Edit button specific color
        // Other specific styles for edit button
      }
  
      .suggest-button {
        background-color: #d0f0d0; // Suggest button specific color
        // Other specific styles for suggest button
      }
  
      .delete-button {
        background-color: #f0d0d0; // Delete button specific color
        // Other specific styles for delete button
      }
    }
  }
  
}