ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

img {
    cursor: pointer;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.2s ease; /* Animation effect */

    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(0.95); /* Slightly scale down when clicked */
        cursor: grab; /* Optional: change cursor on click */
    }

    &.disabled {
        pointer-events: none;
    }
    
}

.grayscale {
    filter: grayscale(100%);
  }

div {
    text-align: center;
}